#hero{
  background-image: url("../img/bg-diseño.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

h2{
    font-family:raleway;
    font-size:3rem;
}

p{
  font-size: 1.3rem;
}

h3{
   font-family:raleway;
    font-size:2rem; 
}

.card-educacion{
    background-color: rgb(243, 237, 255);
    padding: 1rem;
}
